:root {
  --color-white: #ccc;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.video-container {
  position: relative;
  width: 100%;
  max-width: 750px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  padding-top: 30px;
}

.video-container.full-screen {
  max-width: initial;
  width: 100%;
}
video {
  width: 100%;
}
/* video::-webkit-media-controls-enclosure {
  display: none !important;
} */
.video-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
  opacity: 1;
}

.video-controls-container .controls {
  display: flex;
  align-items: center;
}
.video-controls-container .controls button {
  background: none;
  border: none;
  color: var(--color-white);
  padding: 0;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: 0.85;
  transition: opacity 150ms ease-in-out;
}
.video-controls-container .controls button:hover {
  opacity: 1;
}

.video-container.paused .pause-icon {
  display: none;
}
.video-container:not(.paused) .play-icon {
  display: none;
}

.play-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.frwd-bkwd-icon {
  display: flex;
}

.bkwd-btn {
  padding: 4px;
}

.frwd-btn {
  padding: 4px;
}

.volume-high-icon,
.volume-muted-icon {
  display: none;
}
.volume-container {
  display: flex;
  align-items: center;
}

.video-container[data-volume-level="high"] .volume-high-icon {
  display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
  display: block;
}

.volume-slider {
  display: none;
  width: 55%;
  height: 5px;
}

.volume-container:hover .volume-slider {
  display: block;
}

.duration-container {
  color: white;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-grow: 1;
}

.video-container.full-screen .fs-enable {
  display: none;
}

.video-container:not(.full-screen) .fs-disable {
  display: none;
}

.cc-off-btn {
  display: none;
}
.set-btn {
  position: relative;
}

.speed {
  position: absolute;
  background-color: white;
  line-height: 1.5;
  padding: 5px;
  color: black;
  width: 95px;
  bottom: 45px;
  border-radius: 5px;
  right: 25px;
  display: none;
  list-style-type: none;
}

.speed .active {
  background-color: dodgerblue;
  color: white;
}

.settings-btn:hover .speed {
  display: block;
}

.video-controls-container {
  display: none;
}
.video-container:hover .video-controls-container,
.video-container:hover .play-1 {
  display: block;
}

.progressbar-container {
  height: 5px;
  margin-inline: 5px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
}

.progressbar-container .progress {
  background-color: #ff0000;
  height: 5px;
  width: 0;
  position: relative;
}

.progressbar-container .progress::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 13px;
  width: 13px;
  right: 0;
  background-color: inherit;
  border-radius: 50%;
  transform: translateY(-50%);
  display: none;
}

.progressbar-container:hover .progress::before {
  display: block;
}

@media screen and (max-width: 570px) {
  .cc-btn {
    display: none;
  }
  .volume-container {
    position: relative;
  }
  .volume-slider {
    position: absolute;
    bottom: 50px;
    width: 40px;
    height: 5px;
    transform: rotate(-90deg);
  }

  .speed {
    display: none;
  }
}
